.provider-indexBox {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: 100%;
}
.pi-slo {
  margin-top: 130px;
  font-weight: 600;
  font-size: 50px;
}
.pi-detail {
  font-size: 25px;
  margin-top: 20px;
  line-height: 1.2;
}
.pi-loginBox {
  position: relative;
  width: 550px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.pi-email {
  margin-bottom: 20px;
}
.pi-email,
.pi-pwd {
  border: 1px solid black;
  height: 50px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.pi-loginBtn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #11d3b7;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#pi-email {
  height: 48px;
  outline-style: none;
  font-size: 17px;
  width: 100%;
  border: none;
  padding-left: 20px;
  border-radius: 4px;
}
#pi-pwd {
  height: 46px;
  border-radius: 4px;
  margin-top: 2px;
  outline-style: none;
  width: 100%;
  border: none;
  font-size: 17px;
  padding-left: 20px;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
.pi-state {
  width: 400px;
  margin-top: 5px;
  font-weight: 100;
  font-size: 13px;
  color: #ff6666;
  margin-left: 2px;
}
.login-for-provider {
  width: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
