.estimate-page {
  width: 1170px;
  position: relative;
  margin: 0 auto;
  border: 1px solid red;
}
.ep-slobox {
  /* border: 1px solid black; */
  margin-top: 60px;
}
.ep-slo {
  font-size: 30px;
}
.problem-container {
  margin-top: 80px;
  border: 1px solid black;
  position: relative;
}
.problem-box {
  border: 1px solid black;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: space-between;
  border-radius: 2px;
}
.problem-item {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.problem-item input {
  margin-left: 20px;
}
.problem-item span {
  margin-left: 10px;
}
.estimate-pre-result {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
}
.estimate-pre-result-slo {
  font-size: 20px;
}
.estimate-pre-result-itembox {
  margin-top: 40px;
}
.estimate-item {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  height: 50px;
  display: flex;
  align-items: center;
}
.estimate-pre-result-box {
  text-align: right;
}
.estimate-pre-price {
  display: inline-block;
}
