@-webkit-keyframes pageSlideUp {
  from {
    margin-top: 70px;
    opacity: 0;
  }
  to {
    margin-top: 40px;
    opacity: 1;
  }
}
.get-estimate-page {
  width: 800px;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 40px 40px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  margin-bottom: 100px;
  animation: pageSlideUp 1s;
}

.ge-slo {
  display: block;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 600;
}
/*  */
.selected-sympton {
  margin-top: 50px;
}
.ss-slo,
.ss-detail {
  font-size: 16px;
  font-weight: 600;
}

.show-user-selected-box {
  margin-top: 20px;
  font-size: 0px;
}
.show-user-selected-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
}
.ss-box {
  margin-top: 20px;
}
#sympton-detail {
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline-style: none;
  font-size: 15px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  padding: 10px;
  margin-top: 20px;
}
.ss-box span {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 100;
}
#sympton-detail::placeholder {
  font-size: 14px;
}
.sympton-img {
  margin-top: 40px;
}
.si-slo {
  font-size: 16px;
  font-weight: 600;
}
.si-detail {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 100;
}
.si-box {
  margin-top: 20px;
  display: inline-block;
}
.si-img-box {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 322px;
  width: 525px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  font-size: 0;
  padding: 10px;
}
.img-item {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 5px;
}
.si-img-length {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}
.add-img-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/icon.svg");
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
.add-img-icon:hover {
  cursor: pointer;
}
.estimate-btn-box {
  position: relative;
  margin-top: 70px;
  height: 60px;
}
.estimate-btn-box-next,
.estimate-btn-box-previous,
.estimate-btn-box-submit {
  position: absolute;
  border: 1px solid black;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  letter-spacing: 1.2px;
}
.estimate-btn-box-submit {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  background-color: transparent;
  outline-style: none;
  font-size: 16px;
  right: 0;
}
.estimate-btn-box-next {
  right: 0;
}
.estimate-btn-box-previous {
  display: none;
  left: 0;
}
.estimate-btn-box-next:hover,
.estimate-btn-box-previous:hover,
.estimate-btn-box-submit:hover {
  cursor: pointer;
}
.page-2 {
  display: none;
}
.selected-time {
  margin-top: 40px;
}
.st-slo {
  font-size: 16px;
  font-weight: 600;
}
.selected-time select {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  direction: rtl;
  padding-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.3s all;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
}
option {
  font-size: 16px;
}
.selected-time select:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.9);
}
#st-minute {
  margin-left: 12px;
}
select::-ms-expand {
  display: none; /*익플 10,11이상. 화살표 감추기*/
}
.user-location {
  margin-top: 40px;
  font-size: 0;
}
.ul-slo {
  font-size: 16px;
  font-weight: 600;
}
.user-location input {
  height: 35px;
  outline-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 8px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
}
#adr_btn {
  margin-left: 15px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  font-weight: 300;
  letter-spacing: 1.2px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
}
#postcode {
  margin-top: 20px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.02);
}
#roadAddress {
  width: 200px;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0.02);
}
#detailAddress {
  margin-left: 12px;
  width: 320px;
}
.user-want-to-provider {
  margin-top: 40px;
}
.user-want-slo {
  font-size: 16px;
  font-weight: 600;
  display: block;
}
#userwant-box {
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline-style: none;
  font-size: 15px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  padding: 10px;
  margin-top: 20px;
}
#userwant-box::placeholder {
  vertical-align: baseline;
  font-size: 14px;
}
