.login-box {
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
}
.login-slo {
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: 600;
}
.lb-registerbox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 27px;
}
.lb-registerbox input {
  width: 90%;
  outline-style: none;
  border: none;
  height: 52px;
  margin-left: 25px;
  font-size: 17px;
  /* vertical-align: baseline; */
}
.lb-pwd input {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
.lb-registerbox input::placeholder {
  vertical-align: baseline;
  font-size: 15px;
  font-weight: 300;
}
.condition-login {
  color: red;
  position: relative;
  margin-top: 14px;
  font-size: 13px;
  font-weight: 100;
  text-align: right;
  display: block;
}
.login-for-user {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.login-for-user-left label {
  vertical-align: 2px;
  font-size: 13px;
  font-weight: 100;
}
.login-for-user-right span {
  vertical-align: text-bottom;
  font-size: 13px;
  font-weight: 100;
}
.login-btn {
  width: 100%;
  height: 55px;
  margin-top: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #11d3b7;
  color: #eaf4f3;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: none;
  cursor: pointer;
}
.lb-oauthbox {
  width: 400px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.login_oauth {
  border: 1px solid black;
  width: 120px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_oauth span {
  vertical-align: middle;
}
.lb-line {
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.lb-line:after {
  position: absolute;
  display: block;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  top: 49%;
}
.lb-line span {
  position: relative;
  margin: 0 auto;
  width: 70px;
  display: block;
  background-color: white;
  font-size: 15px;
  font-weight: 100;
  z-index: 999;
}
