.register-box {
  width: 1170px;
  position: relative;
  margin: 0 auto;
}
.rb-slo {
  font-size: 30px;
  margin-top: 80px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
.rb-detail {
  margin-top: 20px;
  line-height: 1.3;
}
.rb-oauthbox {
  width: 400px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.register_oauth {
  border: 1px solid black;
  width: 120px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_oauth span {
  vertical-align: middle;
}
.rb-email {
  position: relative;
  font-size: 0;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rb-emailslo {
  text-align: center;
  margin-top: 30px;
  vertical-align: middle;
  font-size: 15px;
  position: relative;
}
.rb-emailslo span {
  position: relative;
  margin: 0 auto;
  width: 70px;
  display: block;
  z-index: 999;
  font-weight: 100;
}
.rb-emailslo:after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 49%;
}
.register-common,
.register-provide {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 0 rgba(196, 206, 219, 0.3);
  padding: 100px 230px;
  display: inline-block;
  border-radius: 4px;
}
.register-common span,
.register-provide span {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  border-radius: 4px;
  position: absolute;
  font-size: 17px;
  letter-spacing: 1.2px;
  vertical-align: middle;
  width: 340px;
  height: 50px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11d3b7;
  color: #eaf4f3;
  font-weight: 100;
}
.register-common-slo {
  font-size: 18px;
  position: absolute;
  width: 300px;
  text-align: center;
  left: 50%;
  top: 28%;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.register-common-detail {
  font-size: 16px;
  position: absolute;
  width: 320px;
  text-align: center;
  left: 50%;
  top: 45%;
  font-weight: 100;
  transform: translate(-50%, -50%);
}
.register-or {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  width: 460px;
  text-align: center;
}
/*  */
.common-box {
  width: 570px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}
.cb-slo {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 600;
}
.cb-registerbox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 15px;
  height: 45px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
  margin-top: 40px;
}
.cb-email {
  margin-top: 0;
}
.cb-registerbox:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.cb-registerbox input {
  height: 40px;
  outline-style: none;
  margin-top: 2px;
  border: none;
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 4px;
}
.cb-pwd input,
.cb-checkpwd input {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
.cb-registerbox input::placeholder {
  vertical-align: baseline;
  font-size: 15px;
  font-weight: 300;
}
.condition-register {
  position: relative;
  top: 8px;
  font-size: 13px;
  text-align: right;
  font-weight: 100;
}
.state-register {
  text-align: right;
  position: relative;
  top: 16px;
  font-size: 13px;
  font-weight: 100;
  color: #ff6666;
  margin-bottom: 10px;
}
.cb-checkpwd {
  margin-top: 15px;
}
.register-btn {
  width: 100%;
  height: 55px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #11d3b7;
  color: #eaf4f3;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 100;
}
.register-btn:hover {
  cursor: pointer;
}
.email-validationBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: #11d3b7;
  color: white;
  width: 110px;
}

.email-validationBtn:hover {
  cursor: pointer;
}
.cb-email-validation {
  display: none;
}
.email-checkBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: #11d3b7;
  color: white;
  width: 110px;
}

.email-checkBtn:hover {
  cursor: pointer;
}
.changeEmail-Btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: #11d3b7;
  color: white;
  width: 110px;
  display: none;
}

.changeEmail-Btn:hover {
  cursor: pointer;
}
/*  */
.provide-box {
  width: 570px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}
.pb-slo {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 600;
}
.provide-inputBox,
.common-inputBox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
}
.provide-item {
  margin-top: 20px;
}
.provide-slo {
  font-size: 18px;
  font-weight: 100;
  margin-left: 3px;
}
.provide-item-wrapper {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 15px;
  height: 45px;
  box-shadow: 0 2px 4px 0 rgba(196, 206, 219, 0.3);
}
.provide-input {
  height: 40px;
  outline-style: none;
  margin-top: 2px;
  border: none;
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 4px;
}
#provide-gender {
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  font-weight: 300;
  vertical-align: middle;
}
.provide-state {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 100;
  padding-left: 4px;
  color: #ff6666;
}
#provide-pwd {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
.provide-phone-btn,
.provide-verify-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: #11d3b7;
  color: white;
  width: 110px;
}
.provide-verify {
  display: none;
}
.provide-address-detail {
  font-size: 14px;
  margin-left: 3px;
  margin-top: 5px;
  font-weight: 100;
}

.provide-add-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: #11d3b7;
  color: white;
  width: 110px;
}
.add-wrapper2,
.add-wrapper3 {
  display: none;
}
