@import "index.css";
@import "reset.css";
@import "estimate.css";
@import "register.css";
@import "login.css";
@import "get_estimate.css";
@import "mypage.css";

html,
body,
input {
  font-family: "NanumSquare", sans-serif;
  color: #292928;
}
* {
  box-sizing: border-box;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
