<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <div class="nb-right">
          <span class="nb-right_customer nb-right_list"
            ><a href="/customer">고객센터</a></span
          >
          <span class="nb-right_usage nb-right_list"
            ><a href="/howtouse">이용안내</a></span
          >
          <span class="nb-right_register nb-right_list"
            ><a href="/api/register">회원가입</a></span
          >
          <span class="nb-right_login nb-right_list"
            ><a href="/api/login">로그인</a></span
          >
        </div>
      </div>
      <div class="estimate-page">
        <div class="ep-slobox">
          <div class="ep-slo">간편견적 조회</div>
        </div>
        <div class="problem-box">
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
          <div class="problem-item">
            <input type="checkbox" />
            <span>증상1</span>
          </div>
        </div>
        <div class="estimate-con">
          <div class="ec-selectBox">
            <div class="ec-select_item"></div>
            <div class="ec-select_item"></div>
            <div class="ec-select_item"></div>
            <div class="ec-select_item"></div>
            <div class="ec-select_item"></div>
            <div class="ec-select_item"></div>
          </div>
          <div class="ec-result">원</div>
        </div>
      </div>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
