<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <ul class="nb-right">
          <li class="nb-right_customer nb-right_list">
            <a href="/customer">고객센터</a>
          </li>
          <li class="nb-right_usage nb-right_list">
            <a href="/howtouse">이용안내</a>
          </li>
          <%- authUI %>
        </ul>
      </nav>
      <form action="/api/get_estimate" method="get" class="estimateForm" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <section class="estimate-page up-on-scroll">
        <div class="ep-slobox">
          <span class="ep-slo">간편견적 조회</span>
        </div>
        <div class="problem-container">
          <ul class="problem-box">
           <%- list %>
          </ul>
          <section class="estimate-pre-result">
            <div class="estimate-pre-result-slo">
              <span>선택하신 증상</span>
            </div>
            <div class="estimate-pre-result-itembox">
              <ul class="estimate-pre-result-item"></ul>
            </div>
            <div class="estimate-pre-result-box">
              <span class="estimate-pre-slo">총 예상 금액</span>
              <div class="estimate-pre-result-box-right">
                <span class="estimate-pre-num">0개 선택</span>
                <span class="estimate-pre-price">0원</span>
              </div>
            </div>
          <input type="button" value="견적 받아보기" class="estimate-btn" >
          </form>
          </section>
        </div>
      </section>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
