<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <ul class="nb-right">
          <li class="nb-right_customer nb-right_list">
            <a href="/web/customer">고객센터</a>
          </li>
          <li class="nb-right_usage nb-right_list">
            <a href="/web/howtouse">이용안내</a>
          </li>
          <%- authUI %>
        </ul>
      </nav>
      <div class="findUserIdBox">
        <div class="findUserIdBox-sloBox">
          <span class="fs-find-user-email"><a href="/common/find/user/email">아이디</a></span>
          <span class="fs-find-slash">/</span>
          <span class="fs-find-user-pwd"><a href="/common/find/user/pwd">비밀번호 찾기</a></span>
          <div class="fs-detail">찾으시는 이메일을 입력하시면</br>회원가입여부를 확인해 드립니다.</div>
        </div>
      </div>
      <div class="findUserInputBox">
        <div class="findUserInputBox-userInput">
          <input type="text" id="findUserInput" placeholder="이메일을 입력하세요"> 
        </div></br>
          <input type="button" class="findUser-btn" value="확인하기">
      </div>
      <div class="findUserResultBox">
        <div class="findEmail"></div>
        <div class="findResult"></div>
      <div class="findUserResultBox-btnBox">
        <a href="/web/login"><div class="findUserResultBox-btnBox-login">로그인하기</div></a>
        <a href="/web/register/previous"><div class="findUserResultBox-btnBox-register">회원가입하기</div></a>
        <!-- <div class="findUserResultBox-btnBox-confirm">다시확인하기</div> -->
      </div>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
