<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <ul class="nb-right">
          <li class="nb-right_customer nb-right_list"><a href="/web/customer">고객센터</a></li>
          <li class="nb-right_usage nb-right_list"><a href="/web/howtouse">이용안내</a></li>
          <%- authUI %>
        </ul>
      </nav>
      <section class="main-page">
        <div class="mp-slo">this is for slogan</div>
        <div class="mp-detail">this is for detail</div>
        <div class="mp-btn_estimate">
          <span>간편견적 확인하기</span>
        </div>
      </section>
      <div class="concept-page">
        <div class="cp-slo">00에서는 다음과같은 고민을 하지마세요.</div>
        <div class="concept-box">
          <div class="cp-item cp1">
            <div class="cp-item_img"></div>
            <div class="cp-item_desc">비용이 왜 많이 나오지?</div>
            <div class="cp-item_detail">간편견적으로</br>예상비용확인 가능</div>
          </div>
          <div class="cp-item cp2">
            <div class="cp-item_img"></div>
            <div class="cp-item_desc">사기당하지는 않겠지?</div>
            <div class="cp-item_detail">확인은 저희가</br>환불 시스템으로 걱정 NO!</div>
          </div>
          <div class="cp-item cp3">
            <div class="cp-item_img"></div>
            <div class="cp-item_desc">합리적인 비용을 원해!</div>
            <div class="cp-item_detail">최대 30개의 비교견적으로</br>합리적인 선택가능!</div>
          </div>
        </div>
      </div>
      <div class="review-page">
        <div class="rp-slo">사용자 리뷰</div>
        <div class="review-box">
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
          <div class="review-item"></div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bundle.js"></script>
  </body>
</html>
