<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
      </div>
      <div class="login-box">
        <div class="login-slo">
          로그인
        </div>
        <form
          method="POST"
          action="/api/login_process"
          class="login_form"
          onsubmit="return login_verify()"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="lb-registerbox lb-email">
            <input
              id="login_email"
              type="text"
              placeholder="이메일을 입력하세요."
              name="login_email"
              autocomplete="off"
            />
          </div>
          <div class="lb-registerbox lb-pwd">
            <input
              id="login_pwd"
              name="login_pwd"
              type="password"
              placeholder="비밀번호 입력해주세요."
              autocomplete="off"
            />
          </div>
          <span class="condition-login"></span>
          <div class="login-for-user">
            <section class="login-for-user-left">
              <input type="checkbox" />
              <span>아이디 저장</span>
            </section>
            <section class="login-for-user-right">
              <span>아이디 / 비밀번호 찾기</span>
            </section>
          </div>
          <input type="submit" class="login-btn" value="로그인" />
        </form>
        <div class="lb-line">
          <span>또는</span>
        </div>
        <div class="lb-oauthbox">
          <div class="google login_oauth">
            <span><a href="/auth/google">구글</a></span>
          </div>
          <div class="naver login_oauth">
            <span><a href="/auth/naver">네이버</a></span>
          </div>
          <div class="kakao login_oauth">
            <span><a href="/auth/kakao">카카오</a></span>
          </div>
        </div>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
