<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aeca137ffd4efb175d1b2c5bd3fa3464&libraries=services"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <ul class="nb-right">
          <li class="nb-right_customer nb-right_list">
            <a href="/web/customer">고객센터</a>
          </li>
          <li class="nb-right_usage nb-right_list">
            <a href="/web/howtouse">이용안내</a>
          </li>
          <%- authUI %>
        </ul>
      </nav>
      <form action="/web/modified/estimate/process" class="modified_estimate_form" method="POST" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <section class="get-estimate-page">
        <span class="ge-slo">등록증상 수정</span>
        <div class="page-1">
          <section class="selected-sympton">
            <span class="ss-slo">
             선택하신 의심증상을 확인해주세요.
            </span>
            <div class="show-user-selected-box">
               <%- register_symptons %>
            </div>
            <div class="ss-box">
              <div class="ss-detail">
                세부 내용을 수정 또는 작성해 주세요.
              </div>
             <textarea name="sympton_detail" id="sympton-detail" style="width: 100%;" cols="70" rows="6" required placeholder="ex)컴퓨터가 켜지지 않아요"></textarea>
             <span>구체적으로 작성하면 보다 정확한 견적이 가능합니다.</span>
            </div>
          </section>
          <section class="sympton-img">
            <div class="si-slo">사진을 등록 혹은 수정해주세요.</div>
            <div class="si-detail">정확한 견적을 위하여 사진을 등록해주세요. (최대 10장)</div>
            <div class="si-box">
              <div class="si-img-box">
                  <input type="file" name="file" style="display: none;" accept="image/*" multiple onchange="previous_fileUpload(event)">
                  <input type="file" name="file" class="add_new_image_btn" style="display: none;" accept="image/*" multiple onchange="add_fileUpload(event)">
                  <div class="add-img-icon"></div>   
                  <div class="si-img-itemBox"></div>
              </div>
            </div>
            <div class="si-img-length">0 / 10개 등록</div>
          </section>
        </div>
          <section class="selected-time">
            <div class="st-slo">시간을 선택 혹은 수정해주세요.</div>
            <select name="time" id="st-time" required>
              <option value="" disabled selected>시간</option>
              <option value="09">9시</option>
              <option value="10">10시</option>
              <option value="11">11시</option>
              <option value="12">12시</option>
              <option value="13">1시</option>
              <option value="14">2시</option>
              <option value="15">3시</option>
              <option value="16">4시</option>
              <option value="17">5시</option>
              <option value="18">6시</option>
              <option value="19">7시</option>
              <option value="20">8시</option>
            </select>
            <select name="minute" id="st-minute" required>
              <option value="" disabled selected>분</option>
              <option value="0">00분</option>
              <option value="10">10분</option>
              <option value="20">20분</option>
              <option value="30">30분</option>
              <option value="40">40분</option>
              <option value="50">50분</option>              
            </select>
          </section>
          <section class="user-location">
            <div class="ul-slo">주소를 입력해주세요.</div>
            <input type="hidden" id="sigunguCode" name="sigunguCode">
            <input type="hidden" id="sigungu" name="sigungu">
            <input type="hidden" id="bname" name="bname">
            <input type="hidden" id="bname1" name="bname1">
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lon" name="lon">
              <input
              type="text"
              id="postcode"
              placeholder="우편번호"
              name="postcode"
              readonly
              required
            />
            <span type="button" id="adr_btn" onclick="openAddresss()">주소찾기</span></br>
              <input
                type="text"
                id="roadAddress"
                name="roadAddress"
                placeholder="도로명주소"
                readonly
                required
              />
              <input
                type="text"
                id="detailAddress"
                name="detailAddress"
                placeholder="상세주소"
                autocomplete="off"
                required
              />
          </section>
          <section class='user-want-to-provider'>
            <span class="user-want-slo">00에게 원하는 말씀을 작성해주세요.</span>
            <textarea name="userwant_content" id="userwant-box"  cols="70" rows="6" placeholder="ex)마스크를 착용해주세요."></textarea>
          </section>
       <footer class="estimate-btn-box">
        <div class="modified-cancel-btn" >취소하기</div>
        <input type="button" class="modified-estimate-btn" value="수정하기">
       </footer>
      </section>
    </form>
    </div>
  </body>
  <script src="/bundle.js"></script>
</html>
