<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name common-name">name</span>
        </div>
      </nav>
      <div class="provide-box">
        <div class="pb-slo">OO가입하기</div>
        <form method="POST" action="/web/register_provide_process" class="provide_form">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="provide-inputBox">
            <div class="provide-name provide-item">
              <div class="provide-slo">이름</div>
              <div class="provide-item-wrapper">
                <input type="text" id="provide-name" class="provide-input" name="name" autocomplete="off" required />
              </div>
              <div class="provide-state ps-name"></div>
            </div>
            <div class="provide-gender provide-item">
              <div class="provide-slo">성별</div>
              <div class="provide-item-wrapper">
                <select name="gender" id="provide-gender" class="provide-input">
                  <option value="male" class="option">남성</option>
                  <option value="female">여성</option>
                </select>
              </div>
            </div>
            <div class="provide-email provide-item">
              <div class="provide-slo">이메일</div>
              <div class="provide-item-wrapper">
                <input type="text" id="provide-email" class="provide-input" name="email" autocomplete="off" required />
              </div>
              <div class="provide-state ps-email"></div>
            </div>
            <div class="provide-pwd provide-item">
              <div class="provide-slo">비밀번호</div>
              <div class="provide-item-wrapper">
                <input type="password" id="provide-pwd" class="provide-input" name="pwd" autocomplete="off" placeholder="숫자, 영문, 특수문자 (!@#$%^&*+=-)를 조합한 8자 이상" required />
              </div>
              <div class="provide-state ps-pwd"></div>
            </div>
            <div class="provide-phone provide-item">
              <div class="provide-slo">핸드폰</div>
              <div class="provide-item-wrapper">
                <input
                  type="text"
                  id="provide-phone"
                  class="provide-input"
                  name="phone"
                  onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                  autocomplete="off"
                  required
                  placeholder="(-)를 제외한 번호를 입력해주세요."
                />
                <div class="provide-phone-btn">휴대폰 인증하기</div>
              </div>
              <div class="provide-state ps-phone"></div>
            </div>
            <div class="provide-verify provide-item">
              <div class="provide-slo">인증번호</div>
              <div class="provide-item-wrapper">
                <input type="text" id="provide-verify" class="provide-input" name="verify" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="6" autocomplete="off" />
                <div class="provide-verify-btn">확인</div>
              </div>
              <div class="provide-state ps-verify"></div>
            </div>
            <input type="button" class="register-btn" value="가입" />
          </div>
        </form>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
