<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <div class="nb-right">
          <span class="nb-right_customer nb-right_list">고객센터</span>
          <span class="nb-right_usage nb-right_list">이용안내</span>
          <span class="nb-right_register nb-right_list">회원가입</span>
          <span class="nb-right_login nb-right_list">로그인</span>
        </div>
      </div>
      <div class="main-page">
        <div class="mp_slo">그거! 제가 해드릴게요</div>
        <div class="mp_btn">이용하기</div>
      </div>
      <div class="review-page"></div>
    </div>
    <iv></iv>
  </body>
</html>
