<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar">
        <div class="nb-left">
          <span class="nb-left-name">name</span>
        </div>
        <ul class="nb-right">
          <li class="nb-right_customer nb-right_list"><a href="/web/customer">고객센터</a></li>
          <li class="nb-right_usage nb-right_list"><a href="/web/howtouse">이용안내</a></li>
          <%- authUI %>
        </ul>
      </nav>
      <section class="provider-mypage-state">
        <div class="pms-slo">마이페이지</div>
        <div class="pms-user-data-box">
          <div class="pms-user-img"></div>
          <div class="pms-user-detail">
            <div class="psd-name"><%- username %></div>
            <div class="psd-email"><%- useremail %></div>
          </div>
        </div>
        <div class="show-submitEstimate">
          <div class="show-submitEstimate-slo">견적서</div>
          <a href="/provide/showsubmit"><div class="show-submitEstimate-detail">견적서 보러가기</div></a>
        </div>
        <div class="ms-otherBox">알림이나 결제내역, 공지사항등</div>
      </section>
    </div>
  </body>
  <script src="/bundle.js"></script>
</html>
